<h2>Edit this Site</h2>

<div id="site-form-wrapper">
  <form action="/sites/{{site_id}}">
    <fieldset>
      {{{name_input}}}
      {{{url_input}}}
      {{{url_input}}}
      {{{text_match_input}}}
      {{{threshold_input}}}
      {{{email_input}}}
    </fieldset>

    <input type="submit" value="save" />
  </form>
</div>