<ul class="errors">
{{#site_errors}}
  <li>{{message}}</li>
{{/site_errors}}
</ul>

<div id="site-form-wrapper">
  <form action="/sites/{{site_id}}" method="post">
    <input type="hidden" name="_method" value="put" />
    <fieldset>
      {{{name_input}}}
      {{{url_input}}}
      {{{match_text_input}}}
      {{{threshold_input}}}
      {{{email_input}}}
    </fieldset>

    <input type="submit" value="save" />
    | <a href="/sites/{{site_id}}">cancel</a>
  </form>
</div>