<div id="site-form-wrapper">
  <form action="/sites">
    <fieldset>
      {{{name_input}}}
      {{{url_input}}}
      {{{url_input}}}
      {{{text_match_input}}}
      {{{threshold_input}}}
      {{{email_input}}}
    </fieldset>
  </form>
</div>