<h2>New Site</h2>

<ul class="errors">
{{#site_errors}}
  <li>{{message}}</li>
{{/site_errors}}
</ul>

<div id="site-form-wrapper">
  <form action="/sites" method="post">
    <fieldset>
      {{{name_input}}}
      {{{url_input}}}
      {{{match_text_input}}}
      {{{threshold_input}}}
      {{{email_input}}}
      <br />
      {{{tier_two_threshold_input}}}
      {{{tier_two_email_input}}}
    </fieldset>

    <input type="submit" value="add" />
  </form>
</div>