<dl>
  <dt>name</dt>
  <dd>{{site_name}}</dd>

  <dt>url</dt>
  <dd>{{site_url}}</dd>

  <dt>match_text</dt>
  <dd>{{site_match_text}}</dd>

  <dt>threshold</dt>
  <dd>{{site_threshold}}</dd>

  <dt>email</dt>
  <dd>{{site_email}}</dd>
</dl>

<p><a href="/sites/{{site_id}}/edit">Edit this site</a></p>