<dl>
  <dt>Site Name</dt>
  <dd>{{site_name}}</dd>

  <dt>Site URL</dt>
  <dd><a href="{{site_url}}">{{site_url}}</a></dd>

  <dt>Text to Match</dt>
  <dd>{{site_match_text}}</dd>

  <dt># of Failures</dt>
  <dd>{{site_threshold}}</dd>

  <dt>Email Address</dt>
  <dd>{{site_email}}</dd>
</dl>

<form action="/sites/{{site_id}}" method="POST" onsubmit="return confirm('Delete this site?')">
  <a href="/sites/{{site_id}}/edit">Edit this site</a> |
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="delete" />
</form>
