.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

body {
  width: 800px;
  margin: 20px auto;
  padding: 10px;
  font-family: Helvetica, "Liberation Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 100%;
  // background-image: url('images/watchdog.png');
  // background-position: 100% 10px;
  // background-repeat: no-repeat;
}
  
a {
  color: black;
}
  
dt {
  float: left;
  width: 230px;
  font-weight: bold;
  text-transform: capitalize;
}

dd {
  margin-bottom: 25px;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 1em;
  
  label {
    display: block;
    margin: 0.25em 0;
  }
  input, textarea {
    margin-bottom: 1em;
  }
}

ul {
  &.sites {
    padding: 0;
    
    li {
      @extend .rounded;
      list-style-type: none;
      margin: 5px 0;
      padding: 10px;
      background-color: #eee;

      &.success {
        background-color: #cfc;
      }

      &.fail {
        background-color: #fcc;
      }
    }
  }

  &.errors {
    color: #c00;
  }
}
